.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavButton {
  width: fit-content;
  /* padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 6%; */
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 15%;
  padding-left: 15%;
  border-radius: 5px;
  background-color: rgb(211, 211, 211);
  color:#282c34;
  font-weight: 900 !important;
  font-size: large !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  text-align: center;
}
.NavButton:hover {
  animation: NavButtonAnim 3s forwards ease-in-out;
}
@keyframes NavButtonAnim {
  50% {
    background-color: black !important;
  }
  100% {
    background-color: rgb(211, 211, 211) !important;
  }
}
.NavHeading {
  font-size: 4vw;
  color: rgb(211,211,211);
  font-weight: 900;
  /* -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-image: url('/public/color-bg.png');
  background-size: cover;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.346); */
}
.Nav {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* position: fixed; */
  position: sticky;
  top:0;
  z-index: 5;
}
.ButtonPanel {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  padding: 20px;
  background-image: url('/public/txt-bg.png');
  background-size:cover;
  background-repeat: no-repeat;
}
.MainButton {
  font-weight: bolder;
  font-size:x-large;
  padding: 10%;
  border-radius: 8px;
  color: white;
  border: 2px white solid;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.button {
  cursor: pointer;
  user-select: none;
}

.button:hover {
  animation: Hover 0.3s ease-in forwards;
}

.noAnim:hover {
  animation: none !important;
}

@keyframes Hover {
  100% {
    transform: scale(1.1)
  }
}

.Heading {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  overflow: hidden;
  position: relative;
  margin: none; padding: none;
  }
.Heading p {
  z-index: 1;
  margin: 0;
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  position: relative;
}
.Heading video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.Footer {
  height: 8vh;
  background-color: black;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Blogs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content:center;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 67vh;
  /* background-image: url('../public/txt-bg.png');
  background-size: contain;
  background-clip: content-box; */
}
.Blog {
  background-color: #c2efff;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 80%;
  padding: 1.5%;
}
.BlogForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.BlogForm label {
  font-size: medium;
  font-weight: 500;
  text-align: center;
}
.Blog:hover {
  animation: Hover 0.3s ease-in forwards;
}
.BlogName {
  color: rgba(0, 11, 69, 0.7);
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}
.BlogContent {
  font-weight: 500;
}
.BlogAuthor {
  font-weight: 700;
  font-size: small;
  text-align: end;
  color: #282c34;
}